.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeHeading {
  padding: 20px;
}

.homeHeading h5 {
  font-size: 1.25rem;
  color: var(--color-purple);
  margin-top: 1.25rem;
}

.homeHeading h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--color-purple);
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.familyImg {
  width: 75%;
}

@media (max-width: 770px) {
  .homeContent {
    width: 100%;
  }

  .homeHeading h1 {
    font-size: 2.25rem;
  }

  .homeHeading h5 {
    font-size: 1.1rem;
  }
}
